---
title: Daniel Gordon
---

<%= partial "header" %>

<!-- Section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="https://github.com/DanielGordon1"><i class="fa fa-github" style="font-size: 80px;"></i></a>
      </div>
    </div>
  </div>
</section>
<%= partial "about" %>
<%= partial "work" %>

<%= partial "education" %>

<%= partial "skills" %>
<%= partial "portfolio" %>
<%= partial "contact" %>
